<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mx-auto" style="width:256px">
        <img src="assets/hiclipart.com.png" />
      </div>
        <h1 class="text-center">Eat da Burger!</h1>
      
    </div>

  </div>
  <h2>Available Burgers</h2>
    <div class="col-6">
      <div class="row">
        {{#each burgers}}
          {{#unless devoured}}
            <div class="col-6 padding-10">
              <div class="uneaten">{{burger_name}}</div>
            </div>
            
            <div class="col-6 padding-10">
              <button class="eat btn btn-warning" data-id="{{id}}">Devour!</button>
            </div>
          {{/unless}}
        {{/each}}
        
      </div>
    </div>

<h2>Devoured</h2>
    <div class="col-6">
      <div class="row">
        <div class="eaten">
          {{#each burgers}}
            {{#if devoured}}
              <div class="col-12">
                {{burger_name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>     
    </div>
    </div>
  
  </div>

  <div class="row" style="padding-top: 50px">
    <div class="col-12">

        <h3 class="text-center">Add a burger you want to eat:</h3>

        <form>
          <div class="form-row align-items-center">
            <div class="col-6 offset-3">
              <input class="form-control" type="text" id="burger-name-input" placeholder="Enter Burger Name">
            </div>
            <div class="col-auto">
              <button type="submit" id="burger-submit" class="btn btn-danger ">Add Burger</button>
            </div>
          </div>
        </form>

    </div>
  </div>

